.card {
  width: 800px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
  padding: 20px;
}

.title {
  font-size: 50px;
  color: #333;
  margin-bottom: 10px;
}

.text {
  font-size: 25px;
  color: #666;
  margin: 10px 0;
}
